packages:
  yum:
    awslogs: []

files:
  "/etc/awslogs/awslogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

commands:
  "01":
    command: service awslogs start
  "02":
    command: chkconfig awslogs on