<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vecto 소개 페이지</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
    h1 {
      color: #007BFF;
    }
    p {
      line-height: 1.5;
    }
    ul {
      list-style: disc;
      padding-left: 20px;
    }
    a {
      color: #007BFF;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>벡토(Vecto) 사이트 소개</h1>
  <p>
    벡토(Vecto)는 우리의 훌륭한 서비스에 대한 소개 페이지입니다. 벡토는 데이트 분야에서 혁신적인 솔루션을 제공하고 있으며,
    다음과 같은 기능 및 가치를 제공하고 있습니다:
  </p>
  <ul>
    <li>데이트 경로 저장</li>
    <li>데이트 경로를 SNS 방식으로 공유</li>
  </ul>
  <p>더 많은 정보를 원하시면 아래의 하이퍼링크를 확인하세요:</p>
  <ul>
    <li><a href="">앱 다운로드</a></li>
    <li><a href="/swagger-ui/index.html">Swagger</a></li>
    <li><a href="/delete/account">회원 탈퇴</a></li>
    <li><a href="/privacy-policy">개인정보처리방침</a></li>
    <li><a href="">문의하기</a></li>
  </ul>
</div>
</body>
</html>
